<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./autoload.php" colors="true" convertNoticesToExceptions="false">
    <testsuites>
        <testsuite name="Complete">
            <directory>./test</directory>
        </testsuite>
        <testsuite name="Auxiliary Parsers">
            <directory>./test/Qi/Auxiliary</directory>
        </testsuite>
        <testsuite name="Binary Parsers">
            <directory>./test/Qi/Binary</directory>
        </testsuite>
        <testsuite name="Character Parsers">
            <directory>./test/Qi/Char</directory>
        </testsuite>
        <testsuite name="Directives">
            <directory>./test/Qi/Directive</directory>
        </testsuite>
        <testsuite name="Non-Terminal Parsers">
            <directory>./test/Qi/NonTerminal</directory>
        </testsuite>
        <testsuite name="Numeric Parsers">
        	<directory>./test/Qi/Numeric</directory>
        </testsuite>
        <testsuite name="Operators">
            <directory>./test/Qi/Operator</directory>
        </testsuite>
        <testsuite name="String Parsers">
            <directory>./test/Qi/String</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory>./src</directory>
        </whitelist>
    </filter>

    <php>
        <ini name="date.timezone" value="Europe/Berlin"/>

        <!-- Enable this if you have installed Doctrine\Common on the
             include_path or via Composer. -->
        <env name="TESTS_ZEND_CODE_ANNOTATION_DOCTRINE_SUPPORT" value="false" />
    </php>
</phpunit>
